* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Stops the screen from shaking during snow animation */
  background-color: #1a1e2e; 
}

#root {
  width: 100%;
  height: 100%;
}
